<div class="ml-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div
      class="w-[340px] h-[450px] bg-gray-100 shadow-xl rounded-tr-3xl rounded-bl-3xl item mt-10"
    >
      <div class="">
        <span class="flex justify-center">Thời gian đấu giá</span>
        <div class="flex justify-center" style="font-weight: 700">
          <span>31/05/2024 10:30:00</span>
        </div>
      </div>
      <div class="mt-1">
        <a href="">
          <img
            alt="image"
            src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
            class="w-[300px] h-[200px] object-cover mx-auto rounded-tr-3xl rounded-bl-3xl"
          />
        </a>
        <div class="absolute">
          <div class="">
            <img
              alt="image"
              src="https://data.lvo.vn/media/upload/1001768/Logo/LOGO-LVAuction.png"
              class="w-[30px] relative -top-48 left-8"
            />
          </div>
        </div>
      </div>
      <div class="max-w-[290px] mx-auto mt-5">
        <h4>
          <a class="font-semibold" href=""
            >Lô 2: Lô 80 sản phẩm quần áo của Cục Quản lý thị trường tỉnh Hà
            Giang</a
          >
        </h4>
        <p class="mt-5">Giá khởi điểm : <span>5.040.000 </span> VNĐ</p>
        <div class="bg-red-800 mt-5 max-w-[100px] h-10 text-center">
          <a
            href="/chitiet"
            class="text-white font-bold text-sm leading-6 h-10 flex justify-center items-center"
          >
            <button>Chi tiết</button>
          </a>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="w-[340px] h-[450px] bg-gray-100 shadow-xl rounded-tr-3xl rounded-bl-3xl item mt-10"
    >
      <div class="">
        <span class="flex justify-center">Thời gian đấu giá</span>
        <div class="flex justify-center" style="font-weight: 700">
          <span>31/05/2024 10:30:00</span>
        </div>
      </div>
      <div class="mt-1">
        <a href="">
          <img
            alt="image"
            src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
            class="w-[300px] h-[200px] object-cover mx-auto rounded-tr-3xl rounded-bl-3xl"
          />
        </a>
        <div class="absolute">
          <div class="">
            <img
              alt="image"
              src="https://data.lvo.vn/media/upload/1001768/Logo/LOGO-LVAuction.png"
              class="w-[30px] relative -top-48 left-8"
            />
          </div>
        </div>
      </div>
      <div class="max-w-[290px] mx-auto mt-5">
        <h4>
          <a class="font-semibold" href=""
            >Lô 2: Lô 80 sản phẩm quần áo của Cục Quản lý thị trường tỉnh Hà
            Giang</a
          >
        </h4>
        <p class="mt-5">Giá khởi điểm : <span>5.040.000 </span> VNĐ</p>
        <div class="bg-red-800 mt-5 max-w-[100px] h-10 text-center">
          <a
            href="/tai-san-dau-gia/1002866-lo-2:-lo-80-san-pham-quan-ao-cua-cuc-quan-ly-thi-truong-tinh-ha-giang"
            class="text-white font-bold text-sm leading-6 h-10 flex justify-center items-center"
          >
            Chi tiết
          </a>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="w-[340px] h-[450px] bg-gray-100 shadow-xl rounded-tr-3xl rounded-bl-3xl item mt-10"
    >
      <div class="">
        <span class="flex justify-center">Thời gian đấu giá</span>
        <div class="flex justify-center" style="font-weight: 700">
          <span>31/05/2024 10:30:00</span>
        </div>
      </div>
      <div class="mt-1">
        <a href="">
          <img
            alt="image"
            src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
            class="w-[300px] h-[200px] object-cover mx-auto rounded-tr-3xl rounded-bl-3xl"
          />
        </a>
        <div class="absolute">
          <div class="">
            <img
              alt="image"
              src="https://data.lvo.vn/media/upload/1001768/Logo/LOGO-LVAuction.png"
              class="w-[30px] relative -top-48 left-8"
            />
          </div>
        </div>
      </div>
      <div class="max-w-[290px] mx-auto mt-5">
        <h4>
          <a class="font-semibold" href=""
            >Lô 2: Lô 80 sản phẩm quần áo của Cục Quản lý thị trường tỉnh Hà
            Giang</a
          >
        </h4>
        <p class="mt-5">Giá khởi điểm : <span>5.040.000 </span> VNĐ</p>
        <div class="bg-red-800 mt-5 max-w-[100px] h-10 text-center">
          <a
            href="/tai-san-dau-gia/1002866-lo-2:-lo-80-san-pham-quan-ao-cua-cuc-quan-ly-thi-truong-tinh-ha-giang"
            class="text-white font-bold text-sm leading-6 h-10 flex justify-center items-center"
          >
            Chi tiết
          </a>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="w-[340px] h-[450px] bg-gray-100 shadow-xl rounded-tr-3xl rounded-bl-3xl item mt-10"
    >
      <div class="">
        <span class="flex justify-center">Thời gian đấu giá</span>
        <div class="flex justify-center" style="font-weight: 700">
          <span>31/05/2024 10:30:00</span>
        </div>
      </div>
      <div class="mt-1">
        <a href="">
          <img
            alt="image"
            src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
            class="w-[300px] h-[200px] object-cover mx-auto rounded-tr-3xl rounded-bl-3xl"
          />
        </a>
        <div class="absolute">
          <div class="">
            <img
              alt="image"
              src="https://data.lvo.vn/media/upload/1001768/Logo/LOGO-LVAuction.png"
              class="w-[30px] relative -top-48 left-8"
            />
          </div>
        </div>
      </div>
      <div class="max-w-[290px] mx-auto mt-5">
        <h4>
          <a class="font-semibold" href=""
            >Lô 2: Lô 80 sản phẩm quần áo của Cục Quản lý thị trường tỉnh Hà
            Giang</a
          >
        </h4>
        <p class="mt-5">Giá khởi điểm : <span>5.040.000 </span> VNĐ</p>
        <div class="bg-red-800 mt-5 max-w-[100px] h-10 text-center">
          <a
            href="/tai-san-dau-gia/1002866-lo-2:-lo-80-san-pham-quan-ao-cua-cuc-quan-ly-thi-truong-tinh-ha-giang"
            class="text-white font-bold text-sm leading-6 h-10 flex justify-center items-center"
          >
            Chi tiết
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
