<div class="max-w-[1280px] mx-auto p-4">
  <div class="grid grid-cols-1">
    <h2 class="font-extrabold text-2xl md:text-3xl lg:text-4xl">
      Lô 8: Lô 04 cây vải dệt kim của Cục Quản lý thị trường tỉnh Hà Giang
    </h2>
    <div class="flex space-x-2 mt-2">
      <a class="text-blue-500 hover:underline" href="/">Trang chủ</a>
      <span>/</span>
      <span class="text-gray-500">Tài sản đấu giá</span>
    </div>
  </div>
  <div class="w-full bg-red-600 h-[2px] mt-4"></div>
  <div class="mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <img
          src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
          alt=""
          class="w-full h-[300px] md:h-[400px] lg:h-[500px] object-cover"
        />
        <img
          src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
          alt=""
          class="w-[100px] h-[100px] object-cover mt-6"
        />
      </div>
      <div>
        <div class="grid grid-cols-4 border h-[70px] text-center">
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
        </div>
        <div class="border p-6 mt-8">
          <div class="grid grid-cols-2 gap-4">
            <div class="font-bold">Mã tài sản:</div>
            <div class="text-rose-600 font-semibold">MTS-BOSYAQ</div>

            <div class="font-bold">Thời gian mở đăng ký:</div>
            <div class="text-rose-600 font-semibold">21/05/2024 08:00:00</div>

            <div class="font-bold">Thời gian kết thúc đăng ký:</div>
            <div class="text-rose-600 font-semibold">28/05/2024 17:00:00</div>

            <div class="font-bold">Giá khởi điểm:</div>
            <div class="text-rose-600 font-semibold">4.480.000 VNĐ</div>

            <div class="font-bold">Phí đăng ký tham gia đấu giá:</div>
            <div class="text-rose-600 font-semibold">50.000 VNĐ</div>

            <div class="font-bold">Bước giá:</div>
            <div class="text-rose-600 font-semibold">500.000 VNĐ</div>

            <div class="font-bold">Số bước giá tối đa/ lần trả:</div>
            <div class="text-rose-600 font-semibold">
              Bước giá không giới hạn
            </div>

            <div class="font-bold">Tiền đặt trước:</div>
            <div class="text-rose-600 font-semibold">800.000 VNĐ</div>

            <div class="font-bold">Phương thức đấu giá:</div>
            <div class="text-rose-600 font-semibold">
              Trả giá lên và liên tục
            </div>

            <div class="font-bold">Tên chủ tài sản:</div>
            <div class="text-rose-600 font-semibold">
              CỤC QUẢN LÝ THỊ TRƯỜNG TỈNH HÀ GIANG
            </div>

            <div class="font-bold">Nơi xem tài sản:</div>
            <div class="text-rose-600 font-semibold">
              Kho của Cục quản lý thị trường tỉnh Hà Giang (Số 3, đường Bà
              Triệu, Tổ 5, phường Nguyễn Trãi, Tp Hà Giang, tỉnh Hà Giang)
            </div>

            <div class="font-bold">Thời gian xem tài sản:</div>
            <div class="text-rose-600 font-semibold">
              Ngày 27/05/2024 và ngày 28/05/2024
            </div>

            <div class="font-bold">Thời gian bắt đầu trả giá:</div>
            <div class="text-rose-600 font-semibold">31/05/2024 10:30:00</div>

            <div class="font-bold">Thời gian kết thúc trả giá:</div>
            <div class="text-rose-600 font-semibold">31/05/2024 11:35:00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mô tả -->
  <div class="mt-10 w-full border">
    <div class="max-w-[90%] mx-auto">
      <h3 class="font-bold text-xl">Mô tả</h3>
      <p class="mt-4">
        Lô 04 cây vải dệt kim của Cục Quản lý thị trường tỉnh Hà Giang
      </p>

      <p class="mt-4">
        Cục Quản lý thị trường tỉnh Hà Giang thông báo đấu giá tài sản thuộc sở
        hữu của cơ quan này như sau:
      </p>

      <p class="mt-4">1. Tên tài sản: Lô 04 cây vải dệt kim</p>

      <p class="mt-4">2. Mã tài sản: MTS-BOSYAQ</p>
      <p class="mt-4">Đăng ký tham gia đấu giá:</p>
      <p class="mt-4">
        Thời gian: Từ 08h00 ngày 21/05/2024 đến 17h00 ngày 28/05/2024
      </p>

      <p class="mt-4">Bằng một trong các cách sau:</p>

      <p class="mt-4">
        1. Khách hàng đăng ký tài khoản và sử dụng tài khoản truy cập để đăng ký
        tham gia đấu giá trực tuyến trên Trang thông tin điện tử đấu giá trực
        tuyến của Công ty Đấu giá hợp danh Lạc Việt -
        <a href="https://lacvietauction.vn">lacvietauction.vn</a>.
      </p>

      <p class="mt-4">
        2. Khách hàng nộp tiền mua hồ sơ (phí đăng ký tham gia đấu giá) thông
        qua các hình thức thanh toán trực tuyến hoặc chuyển khoản vào tài khoản
        công ty (xem chỉ dẫn tại mục 3), nội dung: “(Họ tên người tham gia đấu
        giá/Tên tổ chức)(Số CMND/CCCD/HC/ĐKKD) nộp tiền phí TGĐG Lô
        ..1/2/3/4/5/6/7/8.. của Cục QLTT Hà Giang”.
      </p>

      <p class="mt-4">
        3. Khách hàng sau khi hoàn tất việc đăng ký tham gia đấu giá trực tuyến
        tải các mẫu đơn đăng ký, giấy xác nhận hiện trạng tài sản trên trang
        <a href="https://lacvietauction.vn">lacvietauction.vn</a> để nộp lại hồ
        sơ qua đường bưu điện. Mỗi hồ sơ bao gồm:
      </p>

      <p class="mt-4">
        Đơn đăng ký tham gia đấu giá; Giấy xác nhận đã tìm hiểu rõ về nguồn gốc,
        tình trạng pháp lý và hiện trạng của tài sản đấu giá (theo mẫu);
      </p>

      <p class="mt-4">
        Đơn đăng ký xem tài sản (theo mẫu) (nếu có nhu cầu xem tài sản, khách
        hàng nộp lại trước 17h00 ngày 24/05/2024);
      </p>

      <p class="mt-4">
        Bản sao y có chứng thực các giấy tờ: Căn cước công dân/Hộ chiếu (đối với
        cá nhân); Đăng ký kinh doanh của doanh nghiệp (đối với tổ chức);
      </p>

      <p class="mt-4">
        Địa chỉ nhận hồ sơ: Công ty Đấu giá hợp danh Lạc Việt - địa chỉ: Tầng 4,
        số 49 phố Văn Cao, phường Liễu Giai, quận Ba Đình, TP. Hà Nội, Điện
        thoại: 0867.523.488 / 0243.211.5234.
      </p>

      <p class="mt-4">
        Khách hàng có thể tham khảo hồ sơ mời đấu giá trên Trang thông tin điện
        tử đấu giá trực tuyến của Công ty Đấu giá hợp danh Lạc Việt -
        <a href="https://lacvietauction.vn">lacvietauction.vn</a> hoặc tại Trụ
        sở Công ty Đấu giá Lạc Việt: Tầng 4, số 49 phố Văn Cao, phường Liễu
        Giai, quận Ba Đình, TP. Hà Nội (trong giờ hành chính, trừ thứ 7, Chủ
        nhật và nghỉ lễ).
      </p>

      <p class="mt-4">
        Lưu ý: Khoản phí đăng ký tham gia đấu giá phải báo “có” trong tài khoản
        của Công ty Đấu giá hợp danh Lạc Việt trước 17 giờ 00 phút ngày
        28/05/2024. Khoản phí đăng ký tham gia đấu giá báo “có” sau 17 giờ 00
        phút ngày 28/05/2024 sẽ được coi là không hợp lệ và không đủ điều kiện
        tham gia đấu giá.
      </p>

      <p class="mt-4">
        Xem tài sản: Khách hàng có thể tự tìm hiểu hoặc đăng ký xem tài sản với
        Công ty Đấu giá hợp danh Lạc Việt trước 17h00 ngày 24/05/2024 để được
        hướng dẫn xem tài sản ngày 27/05/2024 và ngày 28/05/2024 (trong giờ hành
        chính) tại Kho của Cục quản lý thị trường tỉnh Hà Giang (Số 3, đường Bà
        Triệu, Tổ 5, phường Nguyễn Trãi, Tp Hà Giang, tỉnh Hà Giang).
      </p>

      <p class="mt-4">
        Thời gian nộp khoản tiền đặt trước: Từ ngày 28/05/2024 đến 17h00 ngày
        30/05/2024 bằng cách chuyển khoản theo chỉ dẫn sau:
      </p>

      <p class="mt-4">Tên tài khoản: Công ty đấu giá hợp danh Lạc Việt;</p>
      <p class="mt-4">Số tài khoản: 222288882288;</p>
      <p class="mt-5">Tại: Ngân hàng TMCP Bưu Điện Liên Việt - Hà Nội (LPB);</p>
    </div>
  </div>
</div>
<div class="mx-auto">
  <app-listchuanbidaugia> </app-listchuanbidaugia>
</div>
