<div class="max-w-[1280px] mx-auto p-4" *ngIf="products">
  <div class="grid grid-cols-1">
    <h2 class="font-extrabold text-2xl md:text-3xl lg:text-4xl">
      {{ products.name }}
    </h2>
    <div class="flex space-x-2 mt-2">
      <a class="text-blue-500 hover:underline" href="/">Trang chủ</a>
      <span>/</span>
      <span class="text-gray-500">Tài sản đấu giá</span>
    </div>
  </div>
  <div class="w-full bg-red-600 h-[2px] mt-4"></div>
  <div class="mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <img
          src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
          alt=""
          class="w-full h-[300px] md:h-[400px] lg:h-[500px] object-cover"
        />
        <img
          src="https://data.lvo.vn/media/upload/1001406/IMAGE/2022/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_01.jpg"
          alt=""
          class="w-[100px] h-[100px] object-cover mt-6"
        />
      </div>
      <div>
        <div class="grid grid-cols-4 border h-[70px] text-center">
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
          <div class="flex flex-col justify-center">
            <p>01</p>
            <p>Ngày</p>
          </div>
        </div>
        <div class="border p-6 mt-8">
          <div class="grid grid-cols-2 gap-4">
            <div class="font-bold">Mã tài sản:</div>
            <div class="text-rose-600 font-semibold">{{ products._id }}</div>

            <div class="font-bold">Thời gian mở đăng ký:</div>
            <div class="text-rose-600 font-semibold">
              {{ products.start_time }}
            </div>

            <div class="font-bold">Thời gian kết thúc đăng ký:</div>
            <div class="text-rose-600 font-semibold">
              {{ products.end_time }}
            </div>

            <div class="font-bold">Giá khởi điểm:</div>
            <div class="text-rose-600 font-semibold">
              {{ products.start_price }} VNĐ
            </div>

            <div class="font-bold">Phí đăng ký tham gia đấu giá:</div>
            <div class="text-rose-600 font-semibold">50.000 VNĐ</div>

            <div class="font-bold">Bước giá:</div>
            <div class="text-rose-600 font-semibold">
              {{ products.step }} VNĐ
            </div>

            <div class="font-bold">Số bước giá tối đa/ lần trả:</div>
            <div class="text-rose-600 font-semibold">
              Bước giá không giới hạn
            </div>

            <div class="font-bold">Tiền đặt trước:</div>
            <div class="text-rose-600 font-semibold">800.000 VNĐ</div>

            <div class="font-bold">Phương thức đấu giá:</div>
            <div class="text-rose-600 font-semibold">
              Trả giá lên và liên tục
            </div>

            <div class="font-bold">Tên chủ tài sản:</div>
            <div class="text-rose-600 font-semibold">{{ products.name }}</div>

            <div class="font-bold">Nơi xem tài sản:</div>
            <div class="text-rose-600 font-semibold">
              Kho của Cục quản lý thị trường tỉnh Hà Giang (Số 3, đường Bà
              Triệu, Tổ 5, phường Nguyễn Trãi, Tp Hà Giang, tỉnh Hà Giang)
            </div>

            <div class="font-bold">Thời gian xem tài sản:</div>
            <div class="text-rose-600 font-semibold">
              Ngày 27/05/2024 và ngày 28/05/2024
            </div>

            <div class="font-bold">Thời gian bắt đầu trả giá:</div>
            <div class="text-rose-600 font-semibold">31/05/2024 10:30:00</div>

            <div class="font-bold">Thời gian kết thúc trả giá:</div>
            <div class="text-rose-600 font-semibold">31/05/2024 11:35:00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mô tả -->
  <div class="mt-10 w-full border">
    <div class="max-w-[90%] mx-auto">
      <h3 class="font-bold text-xl">Mô tả</h3>
      <p class="mt-4">{{ products.shortdescription }}</p>

      <p class="mt-4">{{ products.description }}</p>
    </div>
  </div>
</div>
<div class="mx-auto">
  <app-listchuanbidaugia> </app-listchuanbidaugia>
</div>
