<nav id="menu" class="bg-white shadow-lg w-full h-20 items-center h-18">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <div class="flex justify-between items-center">
        <div class="mt-auto flex-shrink-0 -ml-10 md:flex mt-auto">
          <img
            class="h-9 w-auto"
            src="https://lacvietauction.vn/files/frontend/images/core/logo-dau-gia-lac-viet.png"
            alt="Logo"
          />
        </div>
        <div class="mt-auto flex justify-between hidden w-[850px] md:flex">
          <ul class="flex space-x-4 gap-7">
            <li class="relative group w-28">
              <a
                href="#"
                class="text-gray-900 inline-flex items-center px-1 pt-1 text-[16 .5px] font-bold"
                >Cuộc đấu giá</a
              >
              <ul
                class="bg-gray-50 shadow-xl absolute -left-2 w-[180px] hidden group-hover:block border border-gray-100"
              >
                <li class="">
                  <a
                    href="dangdaugia"
                    class="block px-4 py-3 text-gray-900 hover:border-b-[2px] hover:border-red-600"
                    >Tài sản đang đấu giá</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-gray-900 hover:border-b-[2px] hover:border-red-600"
                    >Tài sản chưa giá</a
                  >
                </li>
              </ul>
            </li>
            <li class="relative group w-30">
              <a
                href="#"
                class="text-gray-900 inline-flex items-center px-1 pt-1 text-[16 .5px] font-bold"
                >Tài Sản Đấu Giá</a
              >
              <ul
                class="bg-gray-50 shadow-xl absolute left-0 w-[170px] hidden group-hover:block border border-gray-100"
              >
                <li class="">
                  <a
                    href="#"
                    class="block px-4 py-3 text-gray-900 hover:border-b-[2px] hover:border-red-600"
                    >Tài sản nhà nước</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-gray-900 hover:border-b-[2px] hover:border-red-600"
                    >Tài sản tư nhân</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-gray-900 hover:border-b-[2px] hover:border-red-600"
                    >Bất Động Sản
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-900 inline-flex items-center px-1 pt-1 text-[16 .5px] font-bold"
                >Tin tức</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-gray-900 inline-flex items-center px-1 pt-1 text-[16 .5px] font-bold"
                >Giới thiệu</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-gray-900 inline-flex items-center px-1 pt-1 text-[16.5px] font-bold"
                >Liên hệ</a
              >
            </li>
          </ul>
        </div>

        <div
          class="mt-2 lg:flex items-center gap-5 ml-28 hidden md:block lg:block"
        >
          <div class="">
            <span class="text-gray-600">22:47:29 </span>
            <span class="text-gray-600"> Thứ Ba, 28/05/2024</span>
          </div>
          <input
            type="text"
            placeholder="Nhập "
            class="w-20 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-600"
          />
          <div class="">
            <a href="admin/dashbord">
              <button
                class="bg-red-600 text-white px-10 py-1 rounded-md text-sm font-medium"
              >
                Đăng Nhập
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="-mr-2 flex md:hidden px-5 py-1 gap-2 mt-2">
        <div class="md:mt-4">
          <span class="text-gray-600">22:47:29 </span>
          <br />
          <span class="text-gray-600"> Thứ Ba, 28/05/2024</span>
        </div>
        <button
          id="menu-button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500"
        >
          <svg
            class="h-7 w-7"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Side Menu -->
<div
  id="sidebar"
  class="fixed inset-y-0 left-0 w-64 bg-white shadow-lg sidebar sidebar-hidden z-20"
>
  <div class="px-4 py-6">
    <div class="flex justify-between items-center">
      <img class="h-8 w-auto" src="your-logo-url-here" alt="Logo" />
      <button
        id="close-button"
        class="text-gray-600 hover:text-gray-900 focus:outline-none"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <button
      class="bg-red-600 text-white px-3 py-2 rounded-md text-sm font-medium mt-4 w-full"
    >
      Đăng Nhập
    </button>
    <nav class="">
      <a
        href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-900"
        >Tài sản đấu giá +</a
      >
      <a
        href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-900"
        >Cuộc đấu giá +</a
      >
      <a
        href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-900"
        >Tin tức +</a
      >
      <a
        href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-900"
        >Giới thiệu</a
      >
      <a
        href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-900"
        >Liên hệ</a
      >
    </nav>
    <div class="mt-6">
      <input
        type="text"
        placeholder="Nhập từ khóa tìm kiếm tài sản..."
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-600"
      />
      <button
        class="bg-red-600 text-white px-3 py-2 rounded-md text-sm font-medium mt-2 w-full"
      >
        Tìm kiếm tài sản
      </button>
    </div>
  </div>
</div>
