<footer class="bg-black text-gray-400 py-10">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-6 lg:px-12"
  >
    <div>
      <h3 class="text-white text-xl mb-4">Công ty đấu giá hợp danh Lạc Việt</h3>
      <p>Mã số thuế: 0108055420</p>
      <p>Đại diện: bà Đỗ Thị Hồng Hạnh - Chức vụ: Tổng giám đốc</p>
      <p>
        Số giấy đăng ký hoạt động: 01/TP-ĐKHĐ do Sở tư pháp Thành phố Hà Nội Cấp
        ngày 07/08/2017
      </p>
      <p>Địa chỉ: Số 49 Văn Cao, phường Liễu Giai, quận Ba Đình, TP. Hà Nội.</p>
      <p>Điện thoại: 024.32.115.234</p>
      <p>
        Email:
        <a href="mailto:info@lacvietauction.vn" class="text-blue-400"
          >lacjquan.vn</a
        >
      </p>
    </div>
    <div>
      <h3 class="text-white text-xl mb-4">Về chúng tôi</h3>
      <ul>
        <li><a href="#" class="hover:text-white">Giới thiệu</a></li>
        <li><a href="#" class="hover:text-white">Quy chế hoạt động</a></li>
        <li>
          <a href="#" class="hover:text-white">Cơ chế giải quyết tranh chấp</a>
        </li>
        <li><a href="#" class="hover:text-white">Hướng dẫn sử dụng</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-white text-xl mb-4">Chính sách</h3>
      <ul>
        <li><a href="#" class="hover:text-white">Câu hỏi thường gặp</a></li>
        <li>
          <a href="#" class="hover:text-white"
            >Cho thuê tổ chức đấu giá trực tuyến</a
          >
        </li>
        <li><a href="#" class="hover:text-white">Văn bản pháp quy</a></li>
        <li>
          <a href="#" class="hover:text-white">Chính sách bảo mật thông tin</a>
        </li>
        <li><a href="#" class="hover:text-white">Điều khoản sử dụng</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3 class="text-white text-xl mb-4">Tham gia nhận tin</h3>
      <form class="flex mb-4 w-[350px]">
        <div class="absolute">
          <input
            type="email"
            placeholder="Nhập Email"
            class="w-[350px] p-5 rounded-full bg-gray-800 text-white placeholder-gray-500 focus:outline-none"
          />
          <button
            class="bg-red-600 text-white px-4 py-1 rounded-full focus:outline-none absolute right-0 top-0 h-full"
          >
            Đăng ký
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-gray-800 py-4 mt-10 text-center">
    <p>Copyright 2024 © Công ty đấu giá hợp danh Lạc Việt</p>
    <p>
      Powered by
      <a href="#" class="text-blue-400 hover:text-white">Digital Innovation</a>
    </p>
  </div>
</footer>
